/* Fonts these are used in this website */
@font-face{
    /* This is for paragraph and lable value*/
    font-family: 'Recoleta-RegularDEMO';
    src: url(fonts/recoleta/Recoleta-RegularDEMO.otf);
}
@font-face{
    /* This is for Lable */
    font-family: 'QaskinBlackPersonalUse-5wLG';
    src: url(fonts/qaskin-font/QaskinBlackPersonalUse-5wLG.ttf);
}
@font-face{
    /* This is for logo */
    font-family: 'QaskinBlackPersonalUse-67XD';
    src: url(fonts/qaskin-font/QaskinWhitePersonalUse-67XD.ttf);
}
@font-face{
    /* This is for logo */
    font-family: 'Fenix-Regular';
    src: url(fonts/Fenix/Fenix-Regular.ttf);
}
/* End of fonts */



/* Main Styling start from here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;headerr
}
body{
    overflow-x: hidden;
    background-color: #f2f3f5;
}
#gotop{
    right: 10px;
    width: 40px;
    bottom: 10px;
    height: 40px;
    border: none;
    outline: none;
    display: none;
    position: fixed;
    z-index: 134563456;
    border-radius: 50%;
    background: white;
    background:radial-gradient(#f6f6f6,#fff);
    box-shadow: 0px 0px 10px 0px #999 , 0px 0px 20px 0px #f2f2f2;
}
.topHeader{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    min-height: 25px;
    padding-left: 10px;
    align-items: center;
    flex-direction: row;
    background-color: white;
    justify-content: flex-start;
    background: linear-gradient(to bottom,#f2f3f5,#fff);
}
.topHeader span{
    margin: 10px;
    color: #333;
    font-weight: bold;
    font-size: 0.62rem;
    letter-spacing: 2px;
    vertical-align: middle;
    font-family: 'Recoleta-RegularDEMO';
}
.topHeader span strong{
    font-size: 1.7rem;
    color: goldenrod;
    font-family: 'QaskinBlackPersonalUse-5wLG';  
}
.header{
    width: 100vw;
    height: 550px;
    position: relative;
}
.header img{
    width: 100%;
    height: 100%;
}
.header div#headerInfo{
    top: 50%;
    left: 20%;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
    min-height: 200px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 1s ease-in-out;
    transform: translate(-50%,-50%);
}
.header div h1{
    padding: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 3rem;
    min-width: 250px;
    text-shadow: 1px 1px 1px #555;
    font-family: 'QaskinBlackPersonalUse-67XD';
}
.header h1 span:nth-child(3),.header h1 span:nth-child(4){
    color: gold;
    font-weight: bolder !important;
}
.header div#headerInfo p{
    margin: 10px;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Recoleta-RegularDEMO';
}
.header div#headerInfo div{
    margin: 10px;
}
.header div#headerInfo div button{
    border: none;
    padding: 10px 25px;
    border-radius: 3px;
}
.header div#headerInfo div button:first-child{
    background-color: white;
    background: linear-gradient(#ffffff,#f2f3f5);
}
.header div#headerInfo div button:first-child:hover{
    background-color: white;
    background: linear-gradient(#efefef,#f2f3f5);
}
.header div#headerInfo div button:last-child{
    color: #333;
    background-color: gold;
    text-decoration: underline;
    background: linear-gradient(to bottom,gold,goldenrod);
}
.header div#headerInfo div button:last-child:hover{
    background-color: gold;
    background: linear-gradient(360deg,gold,goldenrod);
}
.header nav{    
    top:0;
    z-index: 11;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.header nav .hover{
    width: 100vw;
    z-index: -11;
    height: 0px;
    position: absolute;
    background-color: red;
}
#cartContainer{
    top: 5px;
    right: 10px;
    display: flex;
    z-index: 1111;
    position: fixed;
}
#cartContainer img{
    width: 30px;
}
.header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: left;
}
#home{
    color: gold;
    outline: none;
}
.header nav ul>img{
    margin: 5px;
    display: none;
    cursor: pointer;
}
.header nav ul li{
    margin: 15px 25px;
}
.header nav ul li a{
    color: white;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Fenix-Regular';
}
.header nav ul li a:hover{
    color: gold;
    transition: 0.5s ease-in-out;
}

/* section */
section{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f3f5;
    background: linear-gradient(to bottom,#f2f3f5,#fff);
    /* box-shadow: 0px 0px 10px 0px #999 inset, 0px 0px 20px 0px #f2f2f2 inset; */
}
section #infoBox{
    width: 100%;
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
section #infoBox img{
    width: 150px;
}
section #infoBox h1{
    width: 350px;
    padding: 10px;
    margin: 30px 10px;
    letter-spacing: 2px;
    color: rgb(78, 94, 109);
    font-family: 'Fenix-Regular';
    border-top: 2px dashed slategray;
    border-bottom: 2px dashed slategray;
}
section #infoBox p , #infoBox p a{
    margin: 30px;
    color: slategray;
    text-align: center;
}

#slider{
    width: 100vw;
    height: 460px;
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
#slider:hover #leftBtn, #slider:hover #rightBtn{
    visibility: visible;
}
#slider .left, #slider .right{
    width: 100px;
    height: 460px;    
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center
}
.left{
    left: 0;
}
.right{
    right: 0;
}
#leftBtn , #rightBtn{
    width: 60px;
    height: 60px;
    visibility: hidden;
    border-radius: 50%;
    position: relative;
    transition: all 0.6s;
    transform: scale(0.8);  
    background: rgb(255, 255, 255); 
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.74);
}
#leftBtn:hover , #rightBtn:hover{ 
    transform: scale(1);
}
#leftBtn::after , #rightBtn::after{
    content: '<';
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-weight: bold;
    color: goldenrod;
    position: absolute;
    font-family: monospace;
    transform: translate(-50%,-50%);
}
#rightBtn::after{
    content: '>';
}

/* Info about Rings*/

.info{
    width: 97vw;
    display: flex;
    margin-top: 50px;
    font-size: large;
    padding: 10px 10px;
    color: goldenrod;
    margin-left: -13px;
    align-items: center;
    font-weight: bolder;
    border-radius: 50px;
    background-color: #333;
    justify-content: space-between;
    font-family: 'Recoleta-RegularDEMO';
    background: linear-gradient(#555,#222);
}
.info #sortBy{
    outline: none;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 50px;
    font-family: cursive;
    background-color: white;
}

/* End of the section */


#ringsBox{
    width: 100vw;
    color: #555;
    text-align: center;
}
#ringsBox h1{
    padding: 10px;
    font-size: 3rem;
    margin-top: 10px;
    font-family: 'QaskinBlackPersonalUse-67XD';
    text-shadow: 2px 2px 2px gold,6px 6px 6px rgba(0, 0, 0, 0.1);
}
#ringsBox p{
    margin: 10px;
    color: slategray;
    text-align: center;
    font-family: 'Fenix-Regular';
}
#ringsBox>div{ 
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#ringsBox>div .card{
    margin: 50px;
    height: 400px;
    display: flex;
    color: black;
    min-width: 300px;
    text-align: left;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    justify-content: flex-end;
    font-family: 'Fenix-Regular';
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); 
}
#ringsBox>div .card:hover .img{
    height: 290px;
    transform: translateY(-10%);
    /* clip-path: circle(70% at 50% 0); */
}
#ringsBox>div .card p{
    font-size: small;
    margin: 15px 25px;
    position: relative;
}
#ringsBox>div .card span{
    top: 20px;
    left: -5px;
    padding: 5px;
    z-index: 1345;
    min-width: 90px;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}
.card span a{ 
    font-size: small;
    font-family: 'Recoleta-RegularDEMO';
}
#ringsBox>div .card .img{
    top: 0;
    width: 300px;
    z-index: 111;
    height: 350px;
    position: absolute;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#fixedCard>img{
    height: 280px !important;
    transform: translateY(-10%);
}
#ringsBox>div .card button{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    position: relative;
    font-weight: bolder;
    background-color: gold;
    font-family: 'Fenix-Regular';
    background: linear-gradient(gold,goldenrod);
}
#ringsBox>div .card button::before{
    content: '';
    left: 25%;
    width: 30px;
    height: 30px;
    margin: -7px;
    position: absolute;
    background: url(imgs/cart/addToCart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#ringsBox>div .card button:hover{
    cursor: pointer;
    text-decoration: underline;
    transition:  all 0.5s ease-in-out;
    background: linear-gradient(to top,gold,goldenrod);
}

/* footer styling */
footer{
    width: 100vw;
    color: gold;
    display: flex;
    flex-wrap: wrap;
    min-height: 550px;
    text-align: center;
    position: relative;
    background: black;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px #ccc;
    font-family: 'Recoleta-RegularDEMO';
}
footer img{
    width: 150px;
}
footer img:nth-child(1){
    top: 0;
    left: 0;
    position: absolute;
}
footer img:nth-child(2){
    top: 0;
    right: 0px;
    position: absolute;
    transform: rotate(90deg);
}
footer img:nth-child(3){
    left: 0;
    bottom: 0;
    position: absolute;
    transform: rotate(270deg);
}
footer img:nth-child(4){
    bottom: 0;
    right: 0px;
    position: absolute;
    transform: rotate(180deg);
}   
footer>div{
    z-index: 1;
    width: 300px;
    margin: 10px;
    height: 330px;
    text-align: left;
    border: 1px dashed gold;
    box-shadow: 0px 0px 5px 0px gold inset;
}
footer>div h2{
    margin: 20px;
    text-align: center;
}
footer>div{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}
footer>div>li{
    margin: 1rem;
    list-style: none;
    font-size: large;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: monospace;
}
/* End of the main styling */

/* Responsive layout Styling */
@media screen and (max-width:864px){
    .header nav ul{
        height: 0px;
        z-index: 1111;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        transition: 1s ease-in-out;
    }
    .shownav{
        z-index: 111;
        height: 500px !important;
    }
    .header nav ul li{
        width: 100%;
        z-index: 11;
        margin: 20px;
        padding: 10px;
        position: relative;
        text-align: center;
    }
    .header nav ul li:hover svg{
        transform: scale(0);
    } 
    .header nav ul li svg{
        width: 30px;
        height: 30px;
        transition: 1s;
        margin-top: -10px;
        transform: scale(1);
        vertical-align: middle;
    }
    .header nav ul li a{
        font-size: larger;
    }
    .header nav ul img{
        left: 0px;
        width: 40px;
        height: 35px;
        z-index: 1111;
        position: absolute;
        display: inline-block;
        transition: transform 1s ease-in-out , margin 0.1s linear;
    }
    .header nav ul img:hover{
        opacity: 0.8;
    }
    .header nav{
        z-index: 35345;
        box-shadow: none;
        position: absolute;
        background-color: #333;
    }
    .header nav .hover{
        width: 100vw;
        z-index: -11;
        height: 0px;
        display: flex;
        overflow: hidden;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: 1s ease-in-out;
        background-color: transparent;
    }
    .header nav .hover h2{
        opacity: 0.3;
        color: gold;
        font-size: 20vw;
        text-align: center;
        font-family: arial;
        margin-top: -50px !important;
        text-shadow: 2px 2px 2px white;
        transition: 1s linear ease-in-out;
    }
    .header div#headerInfo{
        left: 23%;
        top: 50%;
    }
    /* Show nav after content */
}
@media screen and (max-width:800px){
    .header{
        height: 400px;
    }
    .header>img{
        height: 400px;
    }
    .header div#headerInfo h1{
        margin: 0px;
        font-size: 40px;
    }
    .header div#headerInfo p{
        margin: 0px;
        font-size: 15px;
    }
}
@media screen and (max-width:750px){
    .topHeader span{
        font-size: 0.5rem;
    }
    .topHeader span strong{
        font-size: 1.2rem;
    }
    .header{
        height: 300px;
    }
    .header>img{
        height: 300px;
    }
    .header div#headerInfo{
        left: 25%;
        top: 50%;
    }
    .header div#headerInfo h1{
        margin: 0px;
        font-size: 20px;
    }
    .header div#headerInfo p{
        margin: 0px;
        font-size: 13px;
    }
    .header div#headerInfo div button{
        font-size: 10px;
        padding: 5px 10px;
    }
}
@media screen and (max-width:600px){
    section #infoBox h1{
        width: 200px;
        font-size: 1rem;
    }
    section #infoBox img{
        width: 80px;
    }
    footer img{
        width: 100px;
    }
    .info{
        padding:7px;
        font-size: small;
    }
    .info #sortBy{
        padding: 3px;
        font-size: 10px;
    }
    .info p span{
        font-size: medium !important;
    }
}
@media screen and (max-width:500px){
    .topHeader{
        justify-content: center;
    }
    .header{
        height: 200px;
    }
    .header>img{
        height: 200px;
    }
    .header div#headerInfo{
        top: 55% !important;
        left: 25%;
    }
    .header div#headerInfo p{
        font-size: 9px;
    }
    .header div#headerInfo div button{
        font-size: 8px;
        padding: 3px 5px;
    }
}

@media screen and (max-width:600px){
    #slider{
        height: 300px;
    }
}
@media screen and (max-width:332px){
    section #infoBox{
        padding-top: 0px;
        margin: 0px !important;
    }
    section #infoBox h1{
        width: 100px;
        font-size: 0.5rem;
    }
    section #infoBox img{
        width: 50px;
    }
    /* footer img{
        width: 50px;
    } */
    .info{
        padding: 5px;
        flex-wrap: wrap;
        font-size: 10px;
    }
    .info select{
        padding: 0px !important;
        font-size: 10px !important;
    }
    .info p{
        font-size: 10px;
    }
    .info p span{
        font-size: 10px !important;
    }
}
@media screen and (max-width:300px){
    #slider{
        height: 150px;
    }
}
@media screen and (max-width:380px){
    form{
        transform: scale(0.7);
    }
}